input[type=checkbox] {
  font-size: 16px;
  position: relative;
  border: 1px solid #676767;
  display: inline-block;
  line-height: 1em;
  margin: 0;
  padding: 0;
  width: 1em;
  height: 1em;
  vertical-align: text-top;
  -webkit-appearance: none;
  -webkit-border-radius: 2px;
}


input[type=checkbox]:checked::after {
  position: absolute;
  content: '✔';
  left: 15%;
  top: -10%;
  height: 40%;
  width: 90%;
}


.dataTables_length{
  margin-top: 15px;
}

.dataTables_filter{
  margin-top: 15px;
  width: 90%;
}

.dataTables_info{
  margin-top: -15px;
}

.dataTables_paginate{
  margin-top: -10px !important;
  float: right;

}


.dataTables_length select{
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.dataTables_filter label{
   width: 100%;
}

div.dataTables_wrapper div.dataTables_filter input{
  margin-left: 0;
  width: 100%;
}