#login-panel{
	margin-top: 200px;
	border: none;
	box-shadow: 0 3px 6px rgba(0,0,0,.12);
}

#login-panel .panel-heading{
	color: #fff;
    background: #68d9f1;
    border: none;
}

#login-panel .panel-default{
	border: none;
}

#login-panel .panel-body{
	border: none;
	padding: 20px 50px;
}

#agencyID{
	height: 40px;
}

#login-btn{
	width: 40%;
}
